<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>File upload</title>
</head>
<body>
<div>Please select the file to upload</div>
<input id="fileChooser" type="file">

<script>
	document.getElementById('fileChooser').addEventListener("change", sendFile, false);

	function sendFile() {
		var file = document.getElementById('fileChooser').files[0];
		var reader = new FileReader();
		var fd = new FormData();
		var xhr = new XMLHttpRequest();

		xhr.upload.addEventListener("progress", function(e) {
			if (e.lengthComputable) {
				var percentage = Math.round((e.loaded * 100) / e.total);
				console.log(percentage);
			}
		}, false);

//		xhr.open("POST", "/file-upload/upload?name=" + encodeURIComponent(file.name));
		xhr.open("POST", "/file-upload/form-upload", true);
//		xhr.setRequestHeader('Content-Type', 'application/octet-stream');	// not necessary in my use case

		// #1 send ArrayBuffer
		reader.onload = function(evt) {
			xhr.send(evt.target.result);
			console.log(evt.target.result);
		};

//		reader.readAsArrayBuffer(file);	// key here, convert file back to ArrayBuffer

		// #2 send the file directly without converting to ArrayBuffer
//		xhr.send(file);	// this also works...

		// #3 send via formData
		fd.append('file', file);
		xhr.send(fd);
	}
</script>
</body>
</html>