doctype html
html
    head(lang = 'en')
        meta(charset = 'UTF-8')
        title Board
        script(src = socketioClient)
        script(src = "bower-components/jquery/dist/jquery.js")
        script(src = "bower-components/Chart.js/Chart.js")

        style(type="text/css").
            .result-graph {
                width: 80%;
                margin: 0 10%;
                height: 600px;
            }
            .btn-container {
                text-align: center;
                margin: 20px;
            }

    body
        canvas(id = "result", class="result-graph")
        section(class="btn-container")
            button(id="start") Start
        script(src="scripts/benchmark.js")