doctype html
html
    head(lang = 'en')
        meta(charset = 'UTF-8')
        title Board
        script(src = socketioClient)
        script(src = "bower-components/jquery/dist/jquery.js")
        script(src = "bower-components/Chart.js/Chart.js")

        style(type="text/css").
            .result-graph {
                width: 80%;
                margin: auto;
                height: 600px;
            }
    body
        canvas(id = "result", class="result-graph")
        section(id="hint")
        script(src="scripts/benchmark.js")