doctype html
html
   head(lang = 'en')
      meta(charset = 'UTF-8')
      title Board
      script(src = socketioClient)
      script(src = "bower-components/jquery/dist/jquery.js")
      style(type="text/css").
         section {color: lightgrey}

   body
      textarea(name="dashaboard" id="dashboard" cols="30" rows="10")
      section(id="hint")
      script(src="scripts/board.js")
      script.
         window.addEventListener('message', function(e) {
            $('#hint').text('received: ' + e.data);
            console.log(e);
         });